@import "src/styles/mixins";

.greeting {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	font-size: 1.8em;

	&__title {
		font-size: 2.2em;
	}

	&__goal {
		text-align: right;

		@include adaptive-for-mobile() {
			text-align: left;
		}
	}
}
