//import fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300;400;600&family=Raleway&display=swap');

//Переменные
/*
@media (min-width:1171px) {
    .container {
        width: 1170px;
    }
}

@media (min-width:991px) and (max-width:1170px) {
    .container {
        width: 990px;
    }
}

@media (min-width:769px) and (max-width:990px) {
    .container {
        width: 768px;
    }
}

@media (max-width:768px) {
    .container {
        width: 100%;
    }
}*/
$content-with : 1170px;
$header-height:120px;



//Миксины
@mixin btn_text-center($height) {
    text-align: center;
    vertical-align: middle;
    line-height: $height;
}


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.navbar,
header,
section,
footer {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;

    .container {
        width: $content-with;
    }
}

//p,h2,h3 style
p {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #808080;
}

.header-block {
    width: 100%;
    padding: 160px 0 0 0;
    line-height: 42px;
    font-weight: 400;
    text-transform: uppercase;

    &.header-block_middle {
        text-align: center;
    }

    .header-block__title {
        margin: 0;
        font-size: 30px;
        color: #333333;
    }

    .header-block__subtitle {
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        color: #808080;
    }
}

.btn {
    background: #fff;
    border-radius: 12px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
    color: #0b4bec;
    transition: 0.3s;

    &:hover {
        color: #fff;
        background: transparent;
        box-shadow: inset 0px 0px 5px 1px #fff;
    }
}


.navbar {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;

    &:before {
        position: absolute;
        content: " ";
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.1;
        background-image: -webkit-linear-gradient(bottom, #071d68 0%, #0b4bec 100%);
        background-image: -o-linear-gradient(bottom, #071d68 0%, #0b4bec 100%);
        background-image: linear-gradient(to top, #071d68 0%, #0b4bec 100%);
    }

    .icon {
        display: none;
        position: relative;
        right: 20px;
        color: #fff;
        transition: 0.3s;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 1;

        .logo {
            max-height: 45px;
            min-width: 190px;

            &__img {
                max-height: 45px;
            }

            &__text {
                display: inline-block;
                vertical-align: top;
            }

            &__title {
                font-size: 18px;
                line-height: 26px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: -0.01em;
                text-shadow: 0px 3px 3px rgba(30, 28, 28, 0.75);
                color: #ffffff;
            }

            &__description {
                font-size: 12px;
                line-height: 26px;
                font-weight: 300;
                letter-spacing: 0.25em;
                color: #ffffff;
            }
        }

        .nav-link {
            .navbar__link {
                position: relative;
                font-size: 14px;
                line-height: 26px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0.01em;
                color: #ffffff;
                margin-right: 45px;

                &:hover:before {
                    width: 100%;
                    left: 0;
                    background: #fff;
                }

                &:before {
                    content: "";
                    width: 0;
                    height: 0.1em;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    background: #333;
                    transition: all 0.3s;
                }
            }

            .navbar__btn {
                display: inline-block;
                width: 125px;
                height: 30px;
                @include btn_text-center(30px);
                letter-spacing: -0.03em;
            }
        }
    }
}

.header {
    min-height: 560px;
    height: calc(100vh - #{$header-height});
    background-color: #bebebe;
    background-image: -webkit-linear-gradient(bottom, #071d68 14%, #0b4bec 85%);
    background-image: -o-linear-gradient(bottom, #071d68 14%, #0b4bec 85%);
    background-image: linear-gradient(to top, #071d68 14%, #0b4bec 85%);
    padding: $header-height 0 40px 0;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .header-text {
            position: relative;
            z-index: 10;
            text-align: center;


            .header-text__title {
                font-size: 40px;
                line-height: 26px;
                font-weight: 600;
                color: #ffffff;
                margin-bottom: 35px;
            }

            .header-text__subtitle {
                font-family: Nunito, sans-serif;
                font-size: 14px;
                line-height: 28px;
                font-weight: 400;
                color: #ffffff;
                margin-bottom: 56px;
            }

            .header-text__btn {
                display: inline-block;
                width: 180px;
                height: 45px;
                border-radius: 22px;
                font-family: Poppins;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                @include btn_text-center(45px);
                color: #0b4bec;

                &:hover {
                    color: #fff;
                    background: transparent;
                    box-shadow: inset 0px 0px 5px 1px #fff;
                }
            }

        }

        .header__card {
            padding: 92px 0 0 0;
            position: relative;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            .card__block {
                width: 35%;
                display: inline-block;
                position: relative;
                margin: 0 auto;
                vertical-align: middle;

                .card__img,
                .card__img-shadow {
                    display: block;
                    width: 100%;
                }

                .card__img {
                    opacity: 0.3;
                }

                .card__img-shadow {
                    opacity: 0.03;
                }

                &:nth-child(2) {
                    width: 50%;
                    margin: 0 -9%;
                    z-index: 10;

                    .card__img {
                        opacity: 1;
                    }

                    .card__img-shadow {
                        opacity: 0.25;
                    }
                }
            }
        }
    }

    .decore__img {
        position: absolute;
        z-index: 1;

        &_right-top {
            mix-blend-mode: multiply;
            right: 0;
            top: 28%;
            max-width: 12%;
            opacity: 0.65;
        }

        &_right-bottom {
            mix-blend-mode: multiply;
            right: 0;
            top: 40%;
            max-width: 11%;
            opacity: 0.65;
        }

        &_left-1 {
            left: 12%;
            top: 32%;
            opacity: 0.25;
        }

        &_left-2 {
            left: 18%;
            top: 41%;
            opacity: 0.5;
        }

        &_left-3 {
            left: 11%;
            top: 45%;
            opacity: 0.4;
        }

        &_left-4 {
            left: 17%;
            top: 51%;
            opacity: 0.3;
        }
    }
}



.get-card {
    background-color: #f3f2f2;

    .container {
        flex-direction: column;
    }

    .get-card__row {
        padding: 100px 0 200px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .get-card__column {
            width: calc((#{$content-with} - 60px)/3);
            align-self: center;

            .get-card__item {
                padding: 50px 40px 49px 39px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                background-color: #ffffff;
                border: 1px solid rgba(4, 4, 4, 0.09);
                transition: 0.3s;

                &.get-card__item-center {
                    padding-top: 92px;
                    padding-bottom: 92px;
                    border: none;
                    background-image: linear-gradient(-18.0deg, #071d68 6%, #0b4bec 93%);

                    .get-card__title {
                        color: #fff;
                    }

                    .get-card__description {
                        color: #eeecec;
                    }
                }

                .get-card__icon {
                    width: 100px;
                    height: 100px;
                }

                .get-card__title {
                    font-family: Poppins, sans-serif;
                    font-size: 20px;
                    line-height: 42px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #000000;
                }

                .get-card__description {
                    width: 100%;
                }


                &:hover {
                    transform: translateY(-7px);
                    box-shadow: 0px 3px 6px rgb(0 0 0 / 50%);
                }
            }
        }
    }
}

.service-card {

    .slider {
        padding: 70px 0 158px;

        .slide {
            margin-right: 30px;
            border: 1px solid rgba(4, 4, 4, 0.29);

            .slide__img {
                width: 100%;
                height: 270%;
                object-fit: cover;
            }

            .slide__text {
                text-align: center;
                font-family: Poppins;
                font-size: 20px;
                line-height: 42px;
                font-weight: 400;
                color: #333333;
            }
        }

        .slick-arrow {
            width: 32px;
            height: 20px;
            transition: 0.3s;

        }

        .slick-prev {
            left: -82px;
            top: 40%;
            transform: rotate(180deg);
            background-image: url(../images/arrow/arrow.png);
            background-size: cover;

            &:before {
                content: " ";
            }

            &.slick-disabled {
                transform: rotate(0deg);
                background-image: url(../images/arrow/disable_arrow.png);
                background-size: cover;
                cursor: default;
            }
        }

        .slick-next {
            right: -52px;
            top: 40%;
            transform: rotate(0deg);
            background-image: url(../images/arrow/arrow.png);
            background-size: cover;

            &:before {
                content: " ";
            }

            &.slick-disabled {
                transform: rotate(180deg);
                background-image: url(../images/arrow/disable_arrow.png);
                background-size: cover;
                cursor: default;
            }
        }
    }
}





.benefits {
    position: relative;
    background-image: url(../../images/benefits_bg.jpg);
    background-image: url(../images/benefits_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &:after {
        content: " ";
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.9;
        background-color: #cfcfcf;
        background-image: linear-gradient(-18.0deg, #071d68 24%, #0b4bec 75%);
    }

    .benefits__block {
        width: 100%;
        padding: 130px 0 180px;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        text-align: center;

        .benefits__card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .benefits__icon {
            margin: 45px auto;
            font-family: 'Font Awesome';
            font-size: 56px;
            line-height: 42px;
            font-weight: 400;
            color: #ffffff;
        }

        .benefits__title {
            margin: 0 0 15px;
            font-family: Poppins, sans-serif;
            font-size: 52px;
            line-height: 52px;
            font-weight: 600;
            color: #ffffff;
        }

        .benefits__subtitle {
            margin: 15px 0 0;
            font-family: Poppins;
            line-height: 24px;
            color: #ffffff;
            font-size: 24px;
            font-weight: 400;
        }
    }

}

.form {
    .header-block {
        padding: 137px 0 0;
    }

    .form-contact {
        padding: 50px 0 148px;
        display: flex;
        justify-content: space-between;

        .form__half-block {
            width: calc((#{$content-with} - 70px)/2);
        }

        .form__input {
            width: 100%;
            height: 50px;
            margin: 0 0 30px;
            padding: 0 15px;
            font-family: Raleway, sans-serif;
            line-height: 50px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
        }

        .form__textarea {
            width: 100%;
            height: 130px;
            padding: 0 20px;
            resize: none;
        }

        .form-btn {
            width: 100%;
            height: 50px;
            margin-top: -7px;
            padding: 0;
            border: none;
            background-color: #0b4bec;
            color: #fff;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                color: #0b4bec;
                background: transparent;
                box-shadow: inset 0px 0px 5px 3px #0b4bec;
            }
        }

    }
}

.footer {
    position: relative;
    background-image: url(../../images/footer_bg.jpg);
    background-image: url(../images/footer_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;

    &:after {
        content: " ";
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.9;
        background-color: #cfcfcf;
        background-image: linear-gradient(-18.0deg, #071d68 24%, #0b4bec 75%);
    }

    .footer__copyright {
        margin: 0;
        padding: 40px 0 70px;
        position: relative;
        z-index: 2;
        text-align: center;
        color: #fff;
    }
}

@media screen and (min-width:1440px) and (max-width:1600px) and (min-height: 899px) {
    .header {
        .container {
            .header-text__subtitle {
                margin-bottom: 30px;
            }

            .header__card {
                padding-top: 60px;
                width: 80%;

                .card__block {
                    margin: 0;
                }
            }
        }

        .decore__img {
            &_right-top {
                max-width: 200px;
            }

            &_right-bottom {
                max-width: 190px;
            }

            &_left-1,
            &_left-2,
            &_left-3,
            &_left-4 {
                transform: scale(0.6);
            }
        }

    }

}

@media screen and (min-width:1440px) and (max-width:1800px) and (max-height: 899px) {
    $header-height: 70px;

    .navbar {
        height: $header-height;
    }

    .header {
        padding: 70px 0 10px 0;
        height: calc(100vh - #{$header-height});

        .container {
            .header-text__subtitle {
                margin-bottom: 25px;
            }

            .header__card {
                padding-top: 45px;
                width: 60%;

                .card__block {
                    margin: 0;
                }
            }
        }

        .decore__img {
            &_right-top {
                max-width: 200px;
            }

            &_right-bottom {
                max-width: 190px;
            }

            &_left-1,
            &_left-2,
            &_left-3,
            &_left-4 {
                transform: scale(0.6);
            }
        }

    }

}

@media screen and (min-width:1170px) and (max-width:1439px) {
    .navbar {
        height: 80px;
    }

    .header {
        padding: 100px 0 20px 0;

        .container {
            .header-text__subtitle {
                margin-bottom: 20px;
            }

            .header__card {
                padding-top: 40px;
                width: 60%;
            }
        }

        .decore__img {
            display: none;
        }
    }

}

@media screen and (min-width:991px) and (max-width:1169px) {
    $content-with: 990px;
    $header-height: 70px;

    .navbar,
    header,
    section,
    footer {
        .container {
            width: $content-with;
        }
    }

    .header-block {
        padding-top: 80px;
    }

    .navbar {
        height: $header-height;
    }

    .header {
        height: calc(100vh - #{$header-height});
        padding: 70px 0 10px 0;

        .container {
            .header-text__subtitle {
                margin-bottom: 20px;
            }

            .header__card {
                padding-top: 30px;
                width: 75%;
            }
        }

        .decore__img {
            display: none;
        }
    }

    .get-card {
        .get-card__row {
            padding: 50px 0 100px 0;

            .get-card__column {
                width: calc((#{$content-with} - 60px)/3);

                .get-card__item {
                    padding: 25px 20px;

                    &.get-card__item-center {
                        padding: 46px 20px;
                    }
                }
            }
        }
    }

    .form {
        .header-block {
            padding-top: 80px;
        }

        .form-contact {
            .form__half-block {
                width: calc((#{$content-with} - 70px)/2);
            }
        }
    }

    .benefits {
        .benefits__block {
            padding: 65px 0 90px;
        }
    }

    .footer {
        .footer__copyright {
            padding: 20px 0 50px;
        }
    }

}

@media screen and (min-width:769px) and (max-width:990px) {
    $content-with: 768px;
    $header-height: 70px;

    .navbar,
    header,
    section,
    footer {
        .container {
            width: $content-with;
        }
    }

    .header-block {
        padding-top: 80px;
    }

    .navbar {
        height: $header-height;

        .container {
            .nav-link {
                .navbar__link {
                    margin-right: 20px;
                }
            }
        }
    }

    .header {
        height: calc(100vh - #{$header-height});
        padding: 70px 0 10px 0;

        .container {
            .header-text__subtitle {
                margin-bottom: 20px;
            }

            .header__card {
                padding-top: 30px;
                width: 75%;
            }
        }

        .decore__img {
            display: none;
        }
    }

    .get-card {
        .get-card__row {
            padding: 50px 0 100px 0;

            .get-card__column {
                width: calc((#{$content-with} - 20px)/3);

                .get-card__item {
                    padding: 25px 20px;

                    &.get-card__item-center {
                        padding: 46px 20px;
                    }
                }
            }
        }
    }

    .form {
        .header-block {
            padding-top: 80px;
        }

        .form-contact {
            .form__half-block {
                width: calc((#{$content-with} - 70px)/2);
            }
        }
    }

    .benefits {
        .benefits__block {
            padding: 65px 0 90px;

            .benefits__title {
                font-size: 45px;
            }

            .benefits__subtitle {
                font-size: 20px;
            }
        }
    }

    .footer {
        .footer__copyright {
            padding: 20px 0 50px;
        }
    }
}

//Адаптив слайдера
@media (max-width:950px) {
    .service-card {

        .slider {
            width: calc(100% - 70px);
            margin: 0 35px;
            padding: 35px 0 60px;
            box-sizing: border-box;

            .slide {
                margin: 5px;
            }

            .slick-prev {
                left: -32px;
                transform: scale(0.75) rotate(180deg);

                &.slick-disabled {
                    transform: scale(0.75);
                }
            }

            .slick-next {
                right: -32px;
                transform: scale(0.75);

                &.slick-disabled {
                    transform: scale(0.75) rotate(180deg);
                }
            }
        }
    }
}


@media (max-width:768px) {
    $content-with: 100%;
    $header-height: 70px;

    .navbar,
    header,
    section,
    footer {
        .container {
            width: $content-with;
        }
    }

    .navbar {
        height: $header-height;
        overflow: visible;

        .container {
            .nav-link a:not(:last-child) {
                display: none;
            }

            a.icon {
                float: right;
                display: block;
            }

            .nav-link {
                &.responsive {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    background: #0b4bec;
                    transition: .3s;

                    a {
                        float: none;
                        display: block;
                        text-align: center;
                        margin: 10px 50px;

                        &.icon {
                            position: absolute;
                            top: 10px;
                            right: -30px;
                            transform: rotate(90deg);
                            transform-origin: 50% 50% 0;
                        }
                    }
                }
            }
        }
    }

    .header {
        height: calc(100vh - #{$header-height});
        min-height: -webkit-fill-available;
        padding: 70px 0 10px 0;

        .container {
            .header-text {
                .header-text__title {
                    font-size: 28px;
                }

                .header-text__subtitle {
                    margin-bottom: 20px;
                }
            }

            .header__card {
                padding-top: 30px;
                width: 75%;
            }
        }

        .decore__img {
            display: none;
        }
    }

    .get-card {
        .get-card__row {
            padding: 50px 0 100px 0;

            .get-card__column {
                width: calc((#{$content-with} - 20px)/3);

                .get-card__item {
                    padding: 25px 20px;

                    &.get-card__item-center {
                        padding: 46px 20px;
                    }
                }
            }
        }
    }

    .benefits {
        .benefits__block {
            padding: 35px 0 40px;
            display: block;

            .benefits__card {
                width: calc((#{$content-with} - 45px)/2);

                margin: 0 10px;
                display: inline-block;
            }

            .benefits__icon {
                margin: 24px auto;
                font-size: 40px;
            }

            .benefits__title {
                font-size: 32px;
                line-height: 32px;
                margin-bottom: 10px;
            }

            .benefits__subtitle {
                font-size: 18px;
                line-height: 18px;
                margin: 10px 0 15px;
            }
        }
    }



    .form {
        .header-block {
            padding-top: 80px;
        }

        .form-contact {
            padding-bottom: 70px;

            .form__half-block {
                width: calc((#{$content-with} - 70px)/2);
            }
        }
    }


    .footer {
        .footer__copyright {
            padding: 25px 0 50px;
        }
    }
}

@media (max-width:465px) {
    $content-with: 100%;

    .header-block {
        padding: 60px 10px 0;
        box-sizing: border-box;
    }

    .navbar {
        .container {
            .nav-link {
                .navbar__link {
                    margin-right: 10px;
                }
            }
        }
    }

    .header {
        padding: 70px 0 10px 0;

        .container {
            .header-text {
                .header-text__title {
                    font-size: 32px;
                    line-height: 1.5;
                }

                .header-text__subtitle {
                    margin-bottom: 20px;
                }
            }

            .header__card {
                padding-top: 40px;
                width: 95%;
            }
        }

        .decore__img {
            display: none;
        }
    }

    .get-card {
        .get-card__row {
            padding: 30px 0 50px 0;
            display: block;
            box-sizing: border-box;

            .get-card__column {
                width: 100%;
                margin: 10px auto 25px;
                padding: 0 10px;
                box-sizing: border-box;

                .get-card__item {
                    padding: 15px 10px;

                    &.get-card__item-center {
                        padding: 30px 10px;
                    }
                }
            }
        }
    }

    .service-card {

        .slider {
            .slide {
                margin: 10px;
            }
        }
    }

    .form {
        .header-block {
            padding: 60px 10px 0;
            box-sizing: border-box;
        }

        .form-contact {
            display: block;

            .form__half-block {
                width: 100%;
                padding: 0 10px;
                box-sizing: border-box;

                .form-btn {
                    margin-right: 20px;
                }
            }
        }
    }



}
