@import "src/styles/mixins";

.career {

	&__list {
		display: flex;
		flex-direction: column-reverse;

		gap: 48px;

		@include adaptive-for-tablet() {
			gap: 24px;
		}
	}
}

.careerItem {
	width: 100%;
	display: flex;

	@include adaptive-for-mobile {
		flex-direction: column;
	}

	&__date {
		width: 200px;
		flex-shrink: 0;
		margin-right: 24px;

		@include adaptive-for-tablet(true) {
			width: 150px;
		}

		@include adaptive-for-mobile {
			width: 100%;
			display: flex;
			gap: 16px;
			margin-bottom: 8px;
		}
	}

	&__time {
		font-size: .8em;
		white-space: break-spaces;

		@include adaptive-for-mobile {
			white-space: normal;
		}
	}

	&__experience {
		font-size: .7em;

		opacity: .7;
	}

	&__body {
		display: flex;
		flex-direction: column;
	}

	&__title {
		width: fit-content;
		margin-bottom: 8px;
	}

	&__job {
		margin-bottom: 8px;

		font-size: 1.2em;
	}

	&__description {
		font-size: .8em;
	}
}
