@import 'src/styles/variables';
@import 'src/styles/mixins';

.icon {
	width: 100%;
	color: currentColor;

	&.small {
		width: 8px;
		height: 8px;
	}

	&.medium {
		width: 16px;
		height: 16px;
	}

	&.large {
		width: 32px;
		height: 32px;
	}
}
