@import 'src/styles/variables';
@import 'src/styles/mixins';

.icon {
	width: 100%;
	height: auto;
	color: currentColor;
}

.small {
	width: 24px;
	height: 24px;
}

.medium {
	width: 48px;
	height: 48px;
}

.large {
	width: 64px;
	height: 64px;
}
