@import "./fonts";
@import "src/styles/variables";

* {
  box-sizing: border-box;
}

html, body, #__nuxt, #__layout {
  height: 100%;
}


body {
  margin: 0;
  color: $c-black;
  overflow-x: hidden;

  font-family: $font-family-body;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  height: 100%;
  width: 100%;
}

button, input, h1, h2, h3, h4, h5, h6, p, ul, li {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;

  background: transparent;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: $font-family-heading;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.body--hidden {
  overflow: hidden !important;
}
